{% extends 'products/base.html' %}
{% load static %}
{%  block content %}
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="billing-details1">
                    <form method="POST">
                        {% csrf_token %}
                        <p>Введите новый пароль</p>
                        <input class="input"{{ form.new_password1 }}

                        {% if  form.new_password1.errors  %}
                            <div id="errors">
                                <div class="errors1">
                                    {{ form.new_password1.errors }}
                                </div>
                            </div>
                        {% endif %}
                        <p>Повторите пароль</p>
                        <input class="input"{{ form.new_password2 }}

                        {% if  form.new_password2.errors  %}
                            <div id="errors">
                                <div class="errors1">
                                    {{ form.new_password2.errors }}
                                </div>
                            </div>
                        {% endif %}
                        <button class="primary-btn cta-btn">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}