{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="{% static '/img/shop01.png' %}" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Ноутбуки<br></h3>
                            <a href="{% url 'products:index' 11 %}" class="cta-btn">Купить<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->

                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="{% static '/img/shop03.png' %}" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Наушники<br></h3>
                            <a href="{% url 'products:index' 6 %}" class="cta-btn">Купить<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->

                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="{% static '/img/plan.png' %}" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Планшеты<br></h3>
                            <a href="{% url 'products:index' 5 %}" class="cta-btn">купить<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Товары с наибольшей скидкой</h3>
                </div>
            </div>
            <!-- /section title -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {% for product in sale_prod %}
                                    <div class="product">
                                        <div class="product-img">
                                            <img src={{ product.image1 }} alt="">
                                            <div class="product-label">
                                                <span class="new">-{{ product.discount }}%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{ product.category }}</p>
                                            <div class="items-text1">
                                                <h3 class="product-name"><a
                                                        href="{% url 'products:product' product.slug %}"
                                                >{{ product.name }}</a></h3>
                                            </div>
                                            <h4 class="product-price">{{ product.price_now }}₽
                                                <del class="product-old-price">{{ product.price_old }}₽</del>
                                            </h4>
                                        </div>
                                        <div class="add-to-cart">
                                            <form action="{% url 'products:basket_add' product.id %}" method="get">
                                                <button class="add-to-cart-btn">
                                                    <i class="fa fa-shopping-cart"></i>Добавить
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <!-- /SECTION -->


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Популярные товары</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab2" class="tab-pane fade in active">
                                <div class="products-slick" data-nav="#slick-nav-2">
                                    {% for product in random %}
                                        <div class="product">
                                            <div class="product-img">
                                                <img src={{ product.image1 }}>
                                                {% if product.discount %}
                                                    <div class="product-label">
                                                        <span class="new">-{{ product.discount }}%</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category }}</p>
                                                <div class="items-text1">
                                                    <h3 class="product-name"><a
                                                            href="{% url 'products:product' product.slug %}"
                                                    >{{ product.name }}</a></h3>
                                                </div>
                                                {% if product.price_now %}
                                                    <h4 class="product-price">{{ product.price_now }}₽
                                                        <del class="product-old-price">{{ product.price_old }}₽</del>
                                                    </h4>
                                                {% else %}
                                                    <h4 class="product-price">{{ product.price_old }}₽</h4>
                                                {% endif %}
                                            </div>
                                            <div class="add-to-cart">
                                                <form action="{% url 'products:basket_add' product.id %}" method="get">
                                                    <button class="add-to-cart-btn">
                                                        <i class="fa fa-shopping-cart"></i>Добавить
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                                <div id="slick-nav-2" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- /Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <div>
        1

    </div>


{% endblock %}