{% extends 'products/base.html' %}
{% load static %}
{%  block content %}
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="billing-details1">
                    <form action="{% url 'products:scrap' %}" method="POST">
                        {% csrf_token %}
                        <p>Спарсить данные и добавить в базу</p>
                        <button class="primary-btn cta-btn">Спарсить!</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>

{% endblock %}