{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="{{ product.image1 }}" alt="">
                        </div>
                        <div class="product-preview">
                            <img src="{{ product.image2 }}" alt="">
                        </div>
                        <div class="product-preview">
                            <img src="{{ product.image3 }}" alt="">
                        </div>

                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="{{ product.image1 }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ product.image2 }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ product.image3 }}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{ product.name }}</h2>
                        <div>

                        </div>
                        <div>
                            {% if product.price_now %}
                                <h3 class="product-price">{{ product.price_now }}₽
                                    <del class="product-old-price">
                                        {{ product.price_old }}₽
                                    </del>
                                </h3>
                            {% else %}
                                <h3 class="product-price">{{ product.price_old }}₽</h3>
                            {% endif %}
                            {% if product.quantity > 0 %}
                                <span class="product-available">В наличии</span>
                            {% else %}
                                <span class="product-available">Товар закончился</span>
                            {% endif %}
                        </div>
                        {% if product.description %}
                            <div class="items-text">
                                <p>{{ product.short_description }}</p>
                            </div>
                            <p><a href="#top">Читать далее</a></p>
                        {% else %}
                            <p>Описание отсутствует</p>
                        {% endif %}
                        <form action="{% url 'products:basket_add' product.id %}" method="get">
                            <div class="add-to-cart">
                                {% if product.colors %}
                                    <div class="qty-label">
                                        Цвет
                                        <select class="input-select" name="Color">
                                            {% for color in colors %}
                                                <option value="{{ color }}" name="Color">{{ color }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                {% endif %}
                                <div class="qty-label">
                                    Количество
                                    <div class="input-number">
                                        <input type="number" name="Quantity" value="1">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                    </div>
                                </div>
                                <button class="add-to-cart-btn" >
                                    <i class="fa fa-shopping-cart"></i>Добавить
                                </button>
                            </div>

                            <ul class="product-links">
                                <li>Категория:</li>
                                <li><a href="{% url 'products:index' %}?Category={{ product.category.id }}">{{ product.category }}</a></li>

                            </ul>
                        </form>
                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <p><a name="top"></a></p>
                            <li class="active"><a data-toggle="tab" href="#tab1">Описание</a></li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="row">
                            <div class="col-md-12">
                                {% if product.description %}
                                    <p>{{ product.description }}</p>
                                {% endif %}

                                {% for specification in specifications %}
                                    <p>{{ specification }}</p>
                                {% endfor %}


                            </div>
                        </div>

                        <!-- /tab1  -->
                        <ul class="tab-nav">
                            <li><a data-toggle="tab" href="#tab3">Отзывы</a></li>
                        </ul>
                        <!-- tab3  -->
                        <div class="row">
                            <div class="col-md-3">
                                <div id="rating">
                                    <div class="rating-avg">
                                        <span>Средняя оценка товара: {{ product.sum }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Rating -->

                            <!-- Reviews -->
                            <div class="col-md-6">
                                <div id="reviews">
                                    <ul class="reviews">
                                        {% for review in reviews %}
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">{{ review.user }}</h5>
                                                    <p class="date">{{ review.created_timestamp}}</p>
                                                    <div class="review-rating">
                                                            Оценка товара: {{ review.stars }}
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>{{ review.review }}</p>
                                                </div>
                                                {% if review.user == user %}
                                                    <a href="{% url 'products:review_del'  review.id  %}">
                                                    Удалить отзыв</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- /Reviews -->
                            <!-- Review Form -->
                            <div class="col-md-3">
                                <div id="review-form">
                                    <form class="review-form" action="{% url 'products:review_add'  product.id  %}" method="POST">
                                        <span>Оставить отзыв:</span>
                                        {% if user.is_authenticated %}
                                        {% csrf_token %}
                                        {{ form.review }}
                                        <span>Ваша оценка: </span>
                                        {{ form.stars }}
                                        <button class="primary-btn" >Оставить отзыв</button>
                                        {% else %}
                                        <p> </p>
                                        Для добавления нового отзыва вам необходимо <a href="{%  url 'users:registration' %}">
                                            <strong>зарегестрироваться</strong></a> или <a href="{%  url 'users:login' %}">
                                            <strong>войти</strong></a>
                                        {% endif %}
                                    </form>

                                </div>
                            </div>
                            <!-- /Review Form -->
                        </div>

                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /SECTION -->


{% endblock %}