{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div id="aside" class="col-md-3">
                    <script src="{% static 'js/localstorage.js' %}"></script>
                    <form action="{% url 'products:index' category.id %}" method="get" id="form12" name="filter">
                        <div class="aside">
                            <div class="store-sort">
                                <label>
                                    <h4 class="aside-title">Сначала:</h4>
                                    <select id="selectItem" class="input-select" name="order">
                                        <option value="discount" name="order" {% if old_order == 'discount' %}
                                                selected {% endif %}>С наибольшей скидкой
                                        </option>
                                        <option value="-price_now" name="order" {% if old_order == '-price_now' %}
                                                selected {% endif %} >Дорогие
                                        </option>
                                        <option value="price_now" name="order"{% if old_order == 'price_now' %}
                                                selected {% endif %} >Дешевые
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <h3 class="aside-title">Цена</h3>
                            <div class="price-filter">
                                <div id="price-slider" min="{{ min_price }}" max="{{ max_price }}"
                                        {% if old_min_price %} start_min="{{ old_min_price }}"
                                     start_max="{{ old_max_price }}" {% else %} start_min="{{ min_price }}"
                                     start_max="{{ max_price }}" {% endif %} ></div>
                                <div class="input-number price-min">
                                    <input id="price-min" name="min_price" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                                <span>-</span>
                                <div class="input-number price-max">
                                    <input id="price-max" name="max_price" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div>
                        <div class="aside">
                            {% if brands.count > 10 %}
                                <input type="checkbox" class="read-more-checker" id="read-more-checker1"/>
                                <div class="limited">
                            {% endif %}
                            <h3 class="aside-title">Бренд</h3>
                            <div class="checkbox-filter">
                                {% for brand in brands %}
                                    <div class="input-checkbox">
                                        <input id="{{ brand.brand }}" type="checkbox" name="Brand"
                                               value="{{ brand.brand }}" class="task">
                                        <label for={{ brand.brand }}>
                                            <span></span>
                                            {{ brand.brand }}
                                            <small>{{ brand.items_count }}</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if brands.count > 10 %}
                                </div><label for="read-more-checker1" class="read-more-button"></label>
                            {% endif %}
                        </div>
                        <button class="primary-btn">Применить</button>
                    </form>
                </div>
                <div id="store" class="col-md-9">
                    <h3 class="aside-title">{{ category.name }}</h3>
                    <div class="row infinite-container">
                        {% if object_list %}
                            {% for product in object_list %}
                                <div class="col-md-4 col-xs-6 infinite-item">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="{{ product.image1 }}" alt="">
                                            {% if product.discount %}
                                                <div class="product-label">
                                                    <span class="new"><strong>-{{ product.discount }}%</strong></span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="product-body">
                                            <a class="product-category"
                                               href="?Category={{ product.category.id }}">{{ product.category }}</a>
                                            <div class="items-text1">
                                                <h3 class="product-name"><a
                                                        href="{% url 'products:product' product.slug %}">
                                                    {{ product.name }}</a></h3>
                                            </div>
                                            {% if product.discount %}
                                                <h3 class="product-price">{{ product.price_now }}₽
                                                    <del class="product-old-price">
                                                        {{ product.price_old }}₽
                                                    </del>
                                                </h3>
                                            {% else %}
                                                <h3 class="product-price">{{ product.price_old }}₽</h3>
                                            {% endif %}
                                        </div>
                                        <div class="add-to-cart">
                                            <form action="{% url 'products:basket_add' product.id %}" method="get">
                                                <button class="add-to-cart-btn">
                                                    <i class="fa fa-shopping-cart"></i>Добавить
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 class="product-name">Такого товара нет</h3>
                        {% endif %}
                    </div>
                    <div class="store-filter clearfix">
                        {% if page_obj.has_next %}
                            <a class="infinite-more-link"
                               href="?page={{ page_obj.next_page_number }}{% if query %}{{ query }}{% endif %}"
                               id="pag">next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

