
    <div class="col-md-4 col-xs-6 infinite-item">
        <div class="product">
            <div class="product-img">
                <img src="{{ product.image1 }}" alt="">
                {% if product.discount %}
                    <div class="product-label">
                        <span class="new"><strong>-{{ product.discount }}%</strong></span>
                    </div>
                {% endif %}
            </div>
            <div class="product-body">
                <a class="product-category"
                   href="?Category={{ product.category.id }}">{{ product.category }}</a>
                <div class="items-text1">
                    <h3 class="product-name"><a

                        {{ product.name }}</a></h3>
                </div>
                {% if product.price_now %}
                    <h3 class="product-price">{{ product.price_now }}₽
                        <del class="product-old-price">
                            {{ product.price_old }}₽
                        </del>
                    </h3>
                {% else %}
                    <h3 class="product-price">{{ product.price_old }}₽</h3>
                {% endif %}
            </div>
            <div class="add-to-cart">

                    <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
